<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxXsTxlT1UaAR_RJpec6r5PlnM46BgQCA</string>
	<key>GCM_SENDER_ID</key>
	<string>519985682557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dduckdori.Ssdam</string>
	<key>PROJECT_ID</key>
	<string>ssdam-ab302</string>
	<key>STORAGE_BUCKET</key>
	<string>ssdam-ab302.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:519985682557:ios:cdc78cf2bd6b7b5a74b914</string>
</dict>
</plist>
